:root {
  font-size: 25px;
  --accent-color: hsl(0, 80%, 75%);
  --accent-color2: hsl(0, 80%, 95%);
}

* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

#counter {
  text-align: right;
}

#title {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

p {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}

#prompt {
  text-align: center;
  letter-spacing: 1rem;
}

#textbox {
  background-color: var(--accent-color2);
  border: var(--accent-color) 1px solid;
  height: 1lh;
  width: 15rem;
  text-align: center;
  font-size: 2rem;
  letter-spacing: .2rem;
  margin: auto;
  transition: .7s;
}

#textbox.letter-limit-reached {
  background-color: var(--accent-color);
}

#keyboard .row {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#keyboard .top-row kbd,
#keyboard .middle-row kbd {
  border-bottom: 1px solid lightgray;
}

#keyboard .row kbd {
  padding: 12px 22px;
  text-transform: capitalize;
  user-select: none;
  transition: .07s;
  cursor: pointer;
}

#keyboard .row kbd:hover {
  background-color: var(--accent-color2);
}

#keyboard .row kbd.pressed {
  background-color: var(--accent-color);
  color: white;
  outline: 3px solid var(--accent-color2);
}

@keyframes blink {
  0% {
    background-color: var(--accent-color2);
  }

  100% {
    background-color: white;
  }
}
