:root {
  --black: #333333;
  --blue: #67b5ff;
  --margin-between-boxes: 3px;
  --border-size: 2px;
}

* {
  color: var(--black);
}

body {
  display: grid;
  justify-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-title {
  font: 3.2em 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
  text-align: center;
  margin-bottom: 0;
}

.page-subtitle {
  text-align: center;
  font-size: 1.3em;
}


.section {
  border: var(--border-size) solid;
  padding: 3px;
  margin: var(--margin-between-boxes);

  .section-heading {
    font: 2em 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    margin: var(--margin-between-boxes);
  }

  .card {
    border: var(--border-size) solid;
    padding: 9px;
    margin: var(--margin-between-boxes);


    .title {
      font: italic 1.8em 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
      margin: var(--margin-between-boxes);
      cursor: pointer;
    }

    .text {
      font-family: 'Courier New', Courier, monospace;
      font-size: 1.2em;
      margin: var(--margin-between-boxes);

      margin-left: 30px;
    }
  }
}
