* {
  text-align: center;
}

:root {
  --black: #323232;
  color: var(--black);
}

#backBtn {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  text-decoration: none;
  color: var(--black);
  margin: 0;
  padding: 0;
}

#siteTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  margin-top: 0;
}

button {
  cursor: pointer;
}

#inputField {
  text-align: left;
}

.dataDisplay {
  margin: 1rem;
  text-align: left;
}

#spriteDisplay {
  text-align: center;
  margin: 1rem;
  height: 300px;
  width: 300px;
  border: 3px solid grey;
}

@media (min-width: 500px) {
  .dataDisplay {
    text-align: center;
  }
}
